img:hover{
transform:scale(1.5);
}
img:active{
    transform: rotate(0.50turn);
}
.deux:hover{
    transform: skew(40deg);
}
.deux:active{
    transform: translate(200px);
}
p{
    transform: scale(0.5);
    transform: translateX(20px);
    transform: rotate(35deg);
}